<md-dialog>
  <md-dialog-content>
    <div class="md-dialog-content" layout="column" layout-align="center center">
      <h1 class="md-headline no-margin">AnalogIST</h1>
      <h2 class="md-subhead no-margin">Version <%= pkg.version %></h2>

      <md-button class="md-raised" ng-href="<%= pkg.homepage %>" target="_blank">
        <md-icon md-svg-icon="mdi:github"></md-icon> GitHub
      </md-button>
    </div>
  </md-dialog-content>
</md-dialog>
