<md-dialog aria-label="Formulaire d'ajout de plateforme" style="width:500px;">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Nouvelle plateforme</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon aria-label="Fermer la fenêtre" md-svg-icon="navigation:close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <form name="pForm" ng-submit="vm.submit(pForm.$valid)" novalidate>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row">
          <md-input-container flex="25" flex-sm="33">
            <label>Nom court</label>
            <input name="shortName" ng-model="vm.platform.shortName" required>

            <div ng-messages="pForm.shortName.$error" ng-show="pForm.$submitted || pForm.shortName.$touched">
              <div ng-message="required">Obligatoire</div>
            </div>
          </md-input-container>

          <md-input-container flex>
            <label>Nom complet</label>
            <input name="longName" ng-model="vm.platform.longName" required>

            <div ng-messages="pForm.longName.$error" ng-show="pForm.$submitted || pForm.longName.$touched">
              <div ng-message="required">Obligatoire</div>
            </div>
          </md-input-container>
        </div>

        <md-input-container flex>
          <label>Lien page d'accueil</label>
          <input name="homeUrl" ng-model="vm.platform.homeUrl" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }" ng-change="vm.checkDomain(vm.platform.homeUrl)">

          <div ng-messages="vm.domainCheck">
            <div ng-message="error">Impossible de vérifier la prise en charge du domaine</div>
            <div ng-message="info">Cette plateforme est déjà prise en charge : <a ng-href="{{ ::vm.domainCheck.info.manifest.trello }}" target="_blank">{{ ::vm.domainCheck.info.platformName }}</a></div>
            <div ng-message="proxy"><strong>{{ ::vm.domainCheck.proxy }}</strong> semble être un suffixe de proxy</div>
          </div>
        </md-input-container>

        <md-input-container flex>
          <label>Ajouter dans</label>
          <md-select aria-label="Sélectionner la liste" name="list" md-on-open="vm.getLists()" ng-model="vm.platform.list" required>
            <md-option ng-repeat="list in vm.lists" value="{{list.id}}">{{list.name}}</md-option>
          </md-select>

          <div ng-messages="pForm.list.$error" ng-show="pForm.$submitted || pForm.list.$touched">
            <div ng-message="required">Obligatoire</div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>

    <div class="md-actions" layout="row">
      <span flex></span>

      <md-button ng-hide="vm.loading" type="reset" ng-click="vm.cancel()">Annuler</md-button>
      <md-button ng-hide="vm.loading" type="submit" class="md-primary">Sauvegarder</md-button>

      <md-progress-circular ng-show="vm.loading" md-mode="indeterminate"></md-progress-circular>
    </div>
  </form>
</md-dialog>