<md-dialog aria-label="Formulaire d'ajout de plateforme" style="width:500px;">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Mettre à jour</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon aria-label="Fermer la fenêtre" md-svg-icon="navigation:close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <form name="pForm" ng-submit="vm.submit(pForm.$valid)" novalidate>
    <md-dialog-content>
      <div layout="column" class="md-dialog-content">
        <md-input-container>
          <label>Lien page d'accueil</label>
          <input name="homeUrl" ng-model="vm.platform.homeUrl">
        </md-input-container>

        <md-input-container>
          <label>Lien GitHub</label>
          <input name="githubUrl" ng-model="vm.platform.githubUrl">
        </md-input-container>

        <md-input-container>
          <label>Statut</label>
          <md-select aria-label="Sélectionner la liste" name="list" md-on-open="vm.getLists()" ng-model="vm.platform.idList" required>
            <md-option ng-repeat="list in vm.lists" value="{{ ::list.id }}">{{ ::list.name }}</md-option>
          </md-select>

          <div ng-messages="pForm.list.$error">
            <div ng-message="required">Obligatoire</div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>

    <div class="md-actions" layout="row">
      <span flex></span>

      <md-button ng-hide="vm.loading" type="reset" ng-click="vm.cancel()">Annuler</md-button>
      <md-button ng-hide="vm.loading" type="submit" class="md-primary">Sauvegarder</md-button>

      <md-progress-circular ng-show="vm.loading" md-mode="indeterminate"></md-progress-circular>
    </div>
  </form>
</md-dialog>