<div layout="row" layout-wrap class="list-toolbar white md-whiteframe-z1">
  <md-input-container flex flex-sm="100">
    <label>Recherche</label>
    <input ng-model="vm.search.name">
  </md-input-container>

  <md-input-container flex-sm>
    <label>Grouper par</label>
    <md-select ng-model="vm.groupby" ng-change="vm.buildList()">
      <md-option value="letter">première lettre</md-option>
      <md-option value="status">statut</md-option>
    </md-select>
  </md-input-container>

  <md-button aria-label="Actualiser la liste" ng-click="cards.reload()">
    <md-icon md-svg-icon="navigation:refresh"></md-icon>
  </md-button>
</div>

<div ng-if="cards.loading" class="md-padding" layout="row" layout-align="center center">
  <md-progress-circular md-mode="indeterminate" md-diameter="80px"></md-progress-circular>
</div>

<div ng-hide="cards.loading" ng-repeat="group in filteredGroups = (vm.list | filter:{ list: vm.search }) | naturalSortBy:'name'">
  <h3 class="md-headline" ng-bind="::group.name"></h3>

  <div layout="row" layout-wrap>
    <div class="fade-down" flex="100" flex-md="50" flex-lg="33" flex-gt-lg="25" ng-repeat="p in group.list | filter:vm.search | orderBy:'name'">
      <md-card class="link" ui-sref="platform.description({ id: p.id })">
        <md-card-content>
          <div class="md-title ellipsis">{{ ::p.name }}</div>
          <div class="md-body-1">Activité il y a {{ ::p.lastActivity | timeAgo }} - {{ ::p.platform.analyses.length || '0' }} URLs</div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>

<div layout="column" layout-align="center center" class="fade md-padding md-margin" ng-if="filteredGroups.length === 0">
  <p>La plateforme que vous cherchez n'existe pas.</p>

  <md-button ng-if="auth.isAuthorized()" class="md-raised md-primary" aria-label="Nouvelle plateforme" ng-click="vm.showAdd($event)">
    Nouvelle plateforme
  </md-button>
</div>

<md-button ng-if="auth.isAuthorized()" class="fixed md-fab md-fab-bottom-right" aria-label="Nouvelle plateforme" ng-click="vm.showAdd($event)">
  <md-tooltip md-direction="left" md-autohide>Nouvelle plateforme</md-tooltip>
  <md-icon md-svg-icon="content:add"></md-icon>
</md-button>