<div ng-if="vm.loading" class="md-padding" layout="row" layout-align="center center">
  <md-progress-circular md-mode="indeterminate" md-diameter="80px"></md-progress-circular>
</div>

<ui-view ng-if="!vm.loading"/>