<div ng-if="vm.loading" class="md-padding" layout="row" layout-align="center center">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div ng-if="!vm.loading">
  <div layout="row">
    <h2 flex class="md-headline">{{ vm.card.name }}</h2>

    <div layout="row" layout-align="center center">

      <md-button ng-if="auth.isAuthorized()" aria-label="Ouvrir la fenêtre de modification" class="md-fab md-mini" ng-click="vm.showUpdateForm()">
        <md-icon md-menu-origin md-svg-icon="content:create"></md-icon>
      </md-button>

      <md-menu md-position-mode="target-right target">
        <md-button aria-label="Ouvrir le menu" class="md-fab md-mini" ng-click="$mdOpenMenu($event)">
          <md-icon md-menu-origin md-svg-icon="navigation:more_horiz"></md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item ng-repeat="item in vm.links">
            <md-button ng-disabled="::!item.href" aria-label="{{ ::item.label }}" ng-href="{{ ::item.href }}">
              <div layout="row" layout-fill>
                <p flex>{{ ::item.label }}</p>
                <md-icon md-menu-align-target md-svg-icon="{{ ::item.icon }}"></md-icon>
              </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </div>

  <md-list class="unpadded white md-whiteframe-z1">
    <md-list-item>
      <md-icon md-svg-icon="action:event"></md-icon>
      <p>Dernière activité le {{ vm.card.lastActivity | localDate }}</p>
      <md-divider></md-divider>
    </md-list-item>

    <md-list-item>
      <md-icon md-svg-icon="mdi:trello"></md-icon>
      <p>{{ vm.card.listName }}</p>
      <md-divider></md-divider>
    </md-list-item>

    <md-list-item>
      <md-icon md-svg-icon="action:assignment_ind"></md-icon>
      <p><ez-avatar class="small" avatar-user="member" ng-repeat="member in vm.card.members"></ez-avatar></p>
    </md-list-item>
  </md-list>


  <div layout="row" layout-align="start center">
    <h2 class="md-headline">Remarques</h2>

    <md-button ng-if="auth.isAuthorized()" aria-label="Sauvegarder" class="md-fab md-mini" ng-click="vm.updateComment(vm.card.platform.comment)">
      <md-icon md-svg-icon="content:save"></md-icon>
    </md-button>
  </div>

  <md-progress-linear md-mode="{{ vm.savingComment ? 'indeterminate' : '' }}"></md-progress-linear>

  <md-input-container class="md-padding white md-whiteframe-z1">
    <textarea ng-readonly="!auth.isAuthorized()" ng-model="vm.card.platform.comment"></textarea>
  </md-input-container>

  <div layout="row" layout-align="space-between center">
    <h2 class="md-headline">URLs analysées</h2>
    <md-button ng-if="auth.isAuthorized()" aria-label="Sauvegarder" class="md-fab md-mini" ng-click="vm.save()">
      <md-icon md-svg-icon="content:save"></md-icon>
    </md-button>

    <span flex></span>

    <md-switch ng-model="vm.split" md-no-ink aria-label="Basculer la vue double">
      Vue double
    </md-switch>
  </div>

  <md-progress-linear md-mode="{{ vm.saving ? 'indeterminate' : '' }}"></md-progress-linear>

  <div layout="row" ng-show="vm.analyses.length" ng-class="{ splitted: vm.split }">
    <ez-analyzer ez-analyses="vm.analyses" ez-authorized="auth.isAuthorized()" flex></ez-analyzer>
    <ez-analyzer ez-analyses="vm.analyses" ez-authorized="auth.isAuthorized()" flex ng-if="vm.split"></ez-analyzer>
  </div>

  <div layout="row" layout-align="center center" ng-if="auth.isAuthorized()">
    <md-button aria-label="Nouvelle analyse" ng-click="vm.newAnalysis()">
      <md-icon md-svg-icon="content:add"></md-icon> Nouvelle URL
    </md-button>
  </div>
</div>
