<div ng-if="vm.loading" class="md-padding" layout="row" layout-align="center center">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div ng-hide="vm.loading">
  <div layout="row">
    <h2 flex class="md-headline">{{ vm.platform.name }}</h2>

    <md-menu md-position-mode="target-right target">
      <md-button aria-label="Ouvrir le menu" class="md-fab md-mini" ng-click="$mdOpenMenu($event)">
        <md-icon md-menu-origin md-svg-icon="navigation:more_horiz"></md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-repeat="item in vm.links">
          <md-button ng-disabled="::!item.href" aria-label="{{ ::item.label }}" ng-href="{{ ::item.href }}">
            <div layout="row" layout-fill>
              <p flex>{{ ::item.label }}</p>
              <md-icon md-menu-align-target md-svg-icon="{{ ::item.icon }}"></md-icon>
            </div>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>

  <md-list class="unpadded white md-whiteframe-z1">
    <md-list-item>
      <md-icon md-svg-icon="action:event"></md-icon>
      <p>Carte modifiée le {{ vm.platform.lastActivity }}</p>
      <md-divider></md-divider>
    </md-list-item>

    <md-list-item>
      <md-icon md-svg-icon="mdi:trello"></md-icon>
      <p>{{ vm.platform.status }}</p>
      <md-divider></md-divider>
    </md-list-item>

    <md-list-item>
      <md-icon md-svg-icon="action:assignment_ind"></md-icon>
      <p>{{ vm.platform.contacts }}</p>
    </md-list-item>
  </md-list>

  <div layout="row" layout-align="space-between center">
    <h2 class="md-headline" flex>URLs analysées</h2>

    <md-switch ng-model="vm.split" md-no-ink aria-label="Basculer la vue double">
      Vue double
    </md-switch>
  </div>

  <div class="md-margin">
    <md-progress-linear md-mode="{{ vm.saving ? 'indeterminate' : '' }}"></md-progress-linear>
  </div>

  <div layout="row" ng-show="vm.analyses.length" ng-class="{ splitted: vm.split }">
    <ez-analyzer ez-analyses="vm.analyses" ez-authorized="auth.isAuthorized()" flex></ez-analyzer>
    <ez-analyzer ez-analyses="vm.analyses" ez-authorized="auth.isAuthorized()" flex ng-if="vm.split"></ez-analyzer>
  </div>

  <div layout="row" layout-align="center center" ng-if="auth.isAuthorized()">
    <md-button aria-label="Nouvelle analyse" ng-click="vm.newAnalysis()">
      <md-icon md-svg-icon="content:add"></md-icon> Nouvelle URL
    </md-button>
  </div>
</div>
