# dependencies
node_modules

# logs
npm-debug.log
logs

# Nuxt build
.nuxt

# Nuxt generate
dist

# Mongo volume
data

# OBF certificates
ssl

# uploads folder
uploads

# env vars
.env.sh

# nginx sites-available
sites-available

# nginx sites-enabled
sites-enabled