<div ng-if="loading" class="md-padding" layout="row" layout-align="center center">
  <md-progress-circular md-mode="indeterminate" md-layout-sm="row"></md-progress-circular>
</div>

<div ng-show="platform">
  <div layout="row" class="center-aligned">
    <div layout="column" flex="33">
      <div class="md-headline">Date</div>
      <div ng-bind="platform.platformDate"></div>
    </div>
    <div layout="column" flex="33">
      <div class="md-headline">Statut</div>
      <div ng-bind="platform.platformStatus"></div>
    </div>
    <div layout="column" flex="33">
      <div class="md-headline">Contact</div>
      <div ng-bind="platform.platformContact"></div>
    </div>
  </div>

  <md-divider class="md-margin"></md-divider>

  <ez-analyzer analysis="analysis" ng-repeat="n in range(nbViews)"></ez-analyzer>

  <div layout="row" layout-align="end center">
    <md-button class="md-icon-button md-raised" aria-label="Scinder la vue" ng-click="removeView()">
      <md-tooltip md-direction="top" md-autohide>Supprimer une vue</md-tooltip>
      <md-icon md-svg-icon="content:remove"></md-icon>
    </md-button>

    <md-button class="md-icon-button md-raised" aria-label="Ajouter une vue" ng-click="addView()">
      <md-tooltip md-direction="top" md-autohide>Ajouter une vue</md-tooltip>
      <md-icon md-svg-icon="content:add"></md-icon>
    </md-button>
  </div>
</div>