<html lang="fr" ng-app="WebApp" ng-controller="AppCtrl">
  <head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1" />

    <title>AnalogIST</title>

    <link rel="stylesheet" href="/assets/components/animate.css/animate.min.css">
    <link rel="stylesheet" href="/assets/components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body layout="column">
    <md-toolbar class="md-whiteframe-z1 md-tall">
      <div class="md-toolbar-tools">
        <md-button ng-hide="onRootPage" ng-click="goto('/list')" class="md-icon-button">
          <md-icon aria-label="Retour à la liste" md-svg-icon="navigation:arrow_back"></md-icon>
        </md-button>

        <span flex></span>

        <md-button ng-show="auth.isAuthorized()" class="md-icon-button" aria-label="{{ ::item.label }}" ng-click="item.action()" ng-repeat="item in toolbarItems">
          <md-icon md-menu-align-target md-svg-icon="{{ ::item.icon }}"></md-icon>
        </md-button>

        <md-menu md-position-mode="target-right target">
          <md-button aria-label="Ouvrir le menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon md-menu-origin md-svg-icon="navigation:more_vert"></md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item ng-hide="auth.isAuthenticated()">
              <div class="md-body-1">
                Non connecté
              </div>
            </md-menu-item>

            <md-menu-item ng-show="auth.isAuthenticated()">
              <div>
                <div class="md-body-1" ng-bind="session.user.fullName"></div>
                <div class="md-caption" ng-bind="auth.isAuthorized() ? 'Membre' : 'Invité'"></div>
              </div>
            </md-menu-item>

            <md-divider></md-divider>

            <md-menu-item>
              <md-button aria-label="Aller sur AnalogIST" href="http://analogist.couperin.org/">
                <div layout="row" layout-fill>
                  <p flex>AnalogIST</p>
                </div>
              </md-button>
            </md-menu-item>

            <md-menu-item ng-repeat="item in menuItems">
              <md-button ng-if="::item.action" aria-label="{{ ::item.label }}" ng-click="item.action()">
                <div layout="row">
                  <p ng-bind="::item.label" flex></p>
                  <md-icon md-menu-align-target md-svg-icon="{{ ::item.icon }}"></md-icon>
                </div>
              </md-button>

              <md-button ng-if="::!item.action" ng-disabled="::!item.href" aria-label="{{ ::item.label }}" ng-href="{{ ::item.href }}">
                <div layout="row" layout-fill>
                  <p ng-bind="::item.label" flex></p>
                  <md-icon md-menu-align-target md-svg-icon="{{ ::item.icon }}"></md-icon>
                </div>
              </md-button>
            </md-menu-item>

            <md-menu-item ng-hide="auth.isAuthenticated()">
              <md-button aria-label="Connexion avec Trello" ng-click="auth.login()">
                <div layout="row">
                  <p flex>Se connecter avec Trello</p>
                  <md-icon md-menu-align-target md-svg-icon="mdi:login"></md-icon>
                </div>
              </md-button>
            </md-menu-item>

            <md-menu-item ng-show="auth.isAuthenticated()">
              <md-button aria-label="Déconnexion" ng-click="auth.logout()">
                <div layout="row">
                  <p flex>Se déconnecter</p>
                  <md-icon md-menu-align-target md-svg-icon="mdi:logout" ></md-icon>
                </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>

      <span flex></span>

      <h1 class="md-toolbar-tools md-toolbar-tools-bottom">
        <a href="/list">Plateformes</a>
        <span><md-icon ng-show="subtitle" md-svg-icon="navigation:chevron_right"></md-icon></span>
        <span title="{{ subtitle }}" class="ellipsis" ng-bind="subtitle"></span>
        <span flex></span>
      </h1>
    </md-toolbar>

    <md-content flex ng-view class="whitesmoke main-container"></md-content>

    <!-- Angular Material Dependencies -->
    <script src="/assets/components/angular/angular.min.js"></script>
    <script src="/assets/components/angular-route/angular-route.min.js"></script>
    <script src="/assets/components/angular-messages/angular-messages.min.js"></script>
    <script src="/assets/components/angular-animate/angular-animate.min.js"></script>
    <script src="/assets/components/angular-aria/angular-aria.min.js"></script>
    <script src="/assets/components/angular-material/angular-material.min.js"></script>

    <script src="/js/app.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/js/filters.js"></script>

    <script>
      angular.module('WebApp').constant('TRELLO', {
        boardID: '<%= boardID %>',
        exampleCardID: '5587d3c76e1114036bb596a7'
      });
    </script>
  </body>
</html>