<html>
<head>
  <title>AnalogIST</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="content">
    <h1>Hello world !</h1>
    <p>Welcome to AnalogIST</p>
  </div>
</body>
</html>
