<html lang="fr" ng-app="WebApp" ng-controller="AppCtrl">
  <head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1" />

    <title ng-bind-template="{{ subtitle || 'AnalogIST' }}"></title>

    <link rel="stylesheet" href="/assets/components/animate.css/animate.min.css">
    <link rel="stylesheet" href="/assets/components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/assets/components/angular-dragula/dist/dragula.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body layout="column">
    <md-toolbar class="md-whiteframe-z1" ng-controller="ToolbarCtrl as vm">
      <div class="md-toolbar-tools" hide show-gt-sm>
        <md-progress-circular ng-if="auth.loadingSession" class="md-hue-3" md-mode="indeterminate" md-diameter="30px"></md-progress-circular>

        <div ng-hide="auth.loadingSession" ng-switch="auth.isAuthenticated()">
          <div ng-switch-when="true" layout="row" layout-align="start center">
            <ez-avatar class="md-whiteframe-z1" avatar-user="session.user"></ez-avatar>

            <div layout="column" layout-align="center start">
              <h2>{{ ::session.user.fullName }}</h2>
              <div class="md-caption" ng-show="::auth.isAuthorized()">Modification autorisée</div>
              <div class="md-caption" ng-hide="::auth.isAuthorized()">
                <a href="javascript:void(0)" ng-click="vm.showMembershipDialog($event)">Cliquez ici si vous souhaitez participer</a>
              </div>
            </div>
          </div>

          <div ng-switch-default layout="row" layout-align="start center">
            <md-icon class="md-margin" md-svg-icon="action:account_circle"></md-icon>
            <h2 class="md-healine">Non connecté</h2>
          </div>
        </div>

        <span flex></span>

        <md-button class="md-icon-button" ng-repeat="link in ::vm.links" aria-label="{{ ::link.label }}" ng-href="{{ ::link.href }}" target="{{ ::link.target }}">
          <md-tooltip>{{ ::link.label }}</md-tooltip>
          <md-icon md-svg-icon="{{ ::link.icon }}"></md-icon>
        </md-button>

        <md-button class="md-icon-button" aria-label="A propos" ng-click="vm.showAboutDialog($event)">
          <md-tooltip>A propos</md-tooltip>
          <md-icon md-svg-icon="action:info"></md-icon>
        </md-button>

        <md-button class="md-icon-button" ng-hide="auth.isAuthenticated()" aria-label="Connexion" ng-click="auth.login()">
          <md-tooltip>Connexion</md-tooltip>
          <md-icon md-svg-icon="mdi:login"></md-icon>
        </md-button>

        <md-button class="md-icon-button" ng-show="auth.isAuthenticated()" aria-label="Déconnexion" ng-click="auth.logout()">
          <md-tooltip>Déconnexion</md-tooltip>
          <md-icon md-svg-icon="mdi:logout"></md-icon>
        </md-button>
      </div>

      <div class="md-toolbar-tools">
        <md-button ng-hide="onRootPage" href="/" class="md-icon-button">
          <md-icon aria-label="Retour à la liste" md-svg-icon="navigation:arrow_back"></md-icon>
        </md-button>

        <a href="/">Plateformes</a>
        <span><md-icon ng-show="subtitle" md-svg-icon="navigation:chevron_right"></md-icon></span>
        <span title="{{ subtitle }}" class="ellipsis" ng-bind="subtitle"></span>

        <span flex></span>

        <md-menu hide show-sm md-position-mode="target-right target">
          <md-button aria-label="Ouvrir le menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon md-menu-origin md-svg-icon="navigation:more_vert"></md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item ng-hide="auth.isAuthenticated()">
              <div class="md-body-1">
                Non connecté
              </div>
            </md-menu-item>

            <md-menu-item ng-show="auth.isAuthenticated()">
              <div>
                <div class="md-body-1" ng-bind="session.user.fullName"></div>
                <div class="md-caption" ng-bind="auth.isAuthorized() ? 'Modification autorisée' : 'Modification interdite'"></div>
              </div>
            </md-menu-item>

            <md-divider></md-divider>

            <md-menu-item ng-show="auth.isAuthenticated() && !auth.isAuthorized()">
              <md-button aria-label="Demander à participer" ng-click="vm.showMembershipDialog($event)">
                <div layout="row" layout-fill>
                  <p flex>Je souhaite participer</p>
                </div>
              </md-button>
            </md-menu-item>

            <md-menu-item ng-repeat="link in ::vm.links">
              <md-button aria-label="{{ ::link.label }}" ng-href="{{ ::link.href }}" target="{{ ::link.target }}">
                <div layout="row" layout-fill>
                  <p flex ng-bind="::link.label"></p>
                  <md-icon md-menu-align-target md-svg-icon="{{ ::link.icon }}"></md-icon>
                </div>
              </md-button>
            </md-menu-item>

            <md-menu-item>
              <md-button aria-label="A propos" ng-click="vm.showAboutDialog($event)">
                <div layout="row">
                  <p flex>A propos</p>
                  <md-icon md-menu-align-target md-svg-icon="action:info"></md-icon>
                </div>
              </md-button>
            </md-menu-item>

            <md-menu-item ng-hide="auth.isAuthenticated()">
              <md-button aria-label="Connexion" ng-click="auth.login()">
                <div layout="row">
                  <p flex>Connexion</p>
                  <md-icon md-menu-align-target md-svg-icon="mdi:login"></md-icon>
                </div>
              </md-button>
            </md-menu-item>

            <md-menu-item ng-show="auth.isAuthenticated()">
              <md-button aria-label="Déconnexion" ng-click="auth.logout()">
                <div layout="row">
                  <p flex>Déconnexion</p>
                  <md-icon md-menu-align-target md-svg-icon="mdi:logout" ></md-icon>
                </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>

    <md-content flex ui-view class="whitesmoke main-container"></md-content>

    <!-- Angular Material Dependencies -->
    <script src="/assets/components/angular/angular.min.js"></script>
    <script src="/assets/components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/assets/components/angular-messages/angular-messages.min.js"></script>
    <script src="/assets/components/angular-animate/angular-animate.min.js"></script>
    <script src="/assets/components/angular-aria/angular-aria.min.js"></script>
    <script src="/assets/components/angular-material/angular-material.min.js"></script>
    <script src="/assets/components/angular-dragula/dist/angular-dragula.min.js"></script>

    <script src="/js/app.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/js/filters.js"></script>

    <script>
      angular.module('WebApp').constant('boardID', '<%= boardID %>');
    </script>
  </body>
</html>