.center-aligned { text-align: center; }
.grayed-out { color: #808080 !important; }
.whitesmoke { background-color: #F5F5F5; }
.white { background-color: #FFFFFF; }
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.unpadded { padding: 0; }

md-sidenav.sidemenu {
  min-width: 250px;
  width: 250px;
}
md-sidenav.sidemenu .logo {
  width: 100%;
}

md-toolbar.site-toolbar {
  background: #f6f6f6 !important;
  color: #202020 !important;
}
md-toolbar.site-toolbar:not(.md-menu-toolbar) md-icon,
md-toolbar.site-toolbar:not(.md-menu-toolbar) button {
  color: inherit;
}

.main-container { padding: 20px 5%; }
md-toolbar > .md-toolbar-tools-bottom { padding-left: 5%; }

.fade-down.ng-enter { animation: fadeInDown 0.5s; }
.fade-down.ng-leave { animation: fadeOutUp 0.5s; }

.fixed.md-fab {
  position: fixed !important;
}

.autocomplete li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}
.autocomplete li:last-child {
  border-bottom-width: 0;
}
.autocomplete .item-title,
.autocomplete .item-metadata {
  display: block;
  line-height: 1.5;
}

.splitted ez-analyzer:first-child { margin-right: 5px; }
.splitted ez-analyzer:last-child { margin-left: 5px; }

.tiles {
  padding: 0;
  margin: 0;
}
.tile {
  position: relative;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  background-color: #FFFFFF;

  width: calc(100% - 20px);
}
@media (min-width: 900px) {
  .tile { width: calc(50% - 20px); }
}
@media (min-width: 1100px) {
  .tile { width: calc(33.3333% - 20px); }
}
@media (min-width: 1500px) {
  .tile { width: calc(25% - 20px); }
}
@media (min-width: 1850px) {
  .tile { width: calc(20% - 20px); }
}
@media (min-width: 2100px) {
  .tile { width: calc(16.6666% - 20px); }
}

/**
 * Fixes
 */

/* Fix autocomplete min width */
md-autocomplete { min-width: 0; }

/* Fix menu icon alignment in small toolbar */
md-toolbar .md-menu { padding: 0; }

